.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step {
 height: 500px;
 width: 700px;
 background-color: lightgreen;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
}

.step1 {
  background-color: lightgreen;

}

.step2 {
 background-color: lightcoral;
 

}

.step3  {
 background-color: lightblue;
 
}

.buttonContainer {
    display: flex;
    width: inherit;
    justify-content: space-between;

}

.inputContainer {
 display: flex;
 flex-direction: column;

} 

.btn1 , .btn2 {
 background-color: black;
 color: white;
 cursor: pointer;
 text-align: center;
 transition: 1s;
 border-radius: 5px;
 border: 2px solid red;
 height: 30px;
 width: 70px;

}

button {
  background-color: black;
  color: white;
  cursor: pointer;
  text-align: center;
  transition: 1s;
  border-radius: 5px;
  border: 2px solid red;
  height: 30px;
  width: 70px;


}